<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<!-- アプリケーション設定情報-->
	<appSettings>
		
		<!-- URL -->
		<add key="ApplicationServer" value="http://ap.insat.co.jp" />

		<!-- WEBサービス -->
		<add key="WebServiceUrl" value="http://ap.insat.co.jp/LionsAplWeb/LionsAplIisHandler.ashx" />

		<!-- Android PDFビューア -->
		<add key="AndroidPdfViewer" value="http://drive.google.com/viewerng/viewer" />
		
	</appSettings>
	
</configuration>