<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- アプリケーション設定情報-->
	<appSettings>
		<!-- アプリケーションサーバー-->
		<add key="ApplicationServer" value="http://ap.insat.co.jp" />
		<add key="WebServiceUrl" value="http://ap.insat.co.jp/LionsAplWeb/LionsAplIisHandler.ashx" />
	</appSettings>
</configuration>