<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<!-- アプリケーション設定情報-->
	<appSettings>
		<!-- Version -->
		<add key="ApplicationVersion" value="0.3" />
		
		<!-- URL -->
		<add key="ApplicationServer" value="http://www.ap.insat.co.jp" />

		<!-- WEBサービス -->
		<add key="WebServiceUrl" value="http://www.ap.insat.co.jp/LionsAplWeb/LionsAplIisHandler.ashx" />

		<!-- アプリダウンロード -->
		<add key="AppDownloadUrl" value="http://ap.insat.co.jp/LionsApl/DownLoad.html" />
		
		<!-- Android PDFビューア -->
		<add key="AndroidPdfViewer" value="http://drive.google.com/viewerng/viewer" />

		<!-- SQLiteファイル名 -->
		<add key="SQLiteFileName" value="LionsAplDB" />

		<!-- SQLite拡張子 -->
		<add key="SQLiteFileExtension" value=".db3" />

		<!-- A_FILEPATTH/FilePath-->
		<add key="FILEPATH_LETTER" value="D01" />
		<add key="FILEPATH_EVENT" value="D02" />
		<add key="FILEPATH_MAGAZINE" value="D03" />
		<add key="FILEPATH_INFOMETION" value="D04" />
		<add key="FILEPATH_MEETINGPROGRAM" value="C01" />
		<add key="FILEPATH_CLUBINFOMETION" value="C02" />

		<!-- リスタート時間（分） -->
		<add key="RestartMinutes" value="3.0" />

	</appSettings>
	
</configuration>